.descriptionArea
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.gameImage
{
    width: 250px;
    height: 250px;

    object-fit: cover;
    object-position: top;

    border-radius: 12px;
}

.presentCard
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.infoArea
{
    min-width: 180px;
    max-width: 500px;
    min-height: 250px;

    padding: 1rem;
    padding-top: 2%;

    background: var(--secondaryTrans);
    border-radius: 15px;
}

/* Tablet + Phone */
@media screen and (max-width: 768px)
{
    .presentCard
    {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .descriptionArea
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .backButton,
    .forwardButton
    {
        order: 1;
    }
}