.postImage
{
    width: 300px;
    height: 300px;

    cursor: pointer;

    object-fit: cover;
    object-position: center;
}

.imageIcon
{
    width: 75px;
    height: 75px;

    cursor: pointer;

    border: 2.5px solid var(--accent);
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}

.imageIcon:hover
{
    border: 5px solid var(--accent);
}

.link
{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hoverName
{
    position: absolute;
    z-index: 1;

    width: 100%;

    visibility: hidden;
    pointer-events: none;
}

.link:hover .hoverName
{
    visibility: visible;
    bottom: 25%;
    background-color: var(--secondary);
}

#circleLinks
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mediaPage
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;

    max-width: 700px;
    gap: 0 16px;

    align-items: start;

    margin-bottom: 50px;
    padding: 5px;

    cursor: pointer;
    text-decoration: none;

    border: 5px solid var(--accent);
    background-color: var(--mainOne);
}

.mediaPage h2
{
    grid-column: 1 / -1;
    margin: 0 0 8px;
}

.mediaPage img
{
    grid-column: 1;
    grid-row: 2;
}

.mediaPage p
{
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 768px)
{
    .imageIcon
    {
        width: 75px;
        height: 75px;
    }

    .mediaPage
    {
        display: flex;
        align-items: center;
    }

    .postImage
    {
        width: 100px;
        height: 100px;

        align-self: center;
    }
}

/* Phone */
@media screen and (max-width: 479px)
{
    .postImage
    {
        width: 120px;
        height: 120px;
    }

    .mediaPage
    {
        display: flex;
        align-items: center;
    }

    #circleLinks
    {
        justify-content: center;
    }

    .imageIcon
    {
        width: 50px;
        height: 50px;
    }
}