#heroContainer
{
    position: relative;
    height: 512px;
}

#heroImageBack,
#heroImage
{
    position: absolute;
    inset: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heroImage
{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* About Me */
#aboutMeImg
{
    width: 250px;
    height: 250px;

    border-radius: 50%;

    object-fit: cover;
    object-position: top;
}

#AboutMe_SkillsContainer
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Skills */
#skillsContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill
{
    display: flex;
    gap: 15px;
}

.skillCircle,
.skillCircleDeactivate
{
    display: inline-block;

    width: 25px;
    height: 25px;

    border: 1px solid var(--default);
    border-radius: 50%;
}

.skillCircle
{
    background-color: var(--accent);
}

.skillCircleDeactivate
{
    background-color: var(--secondary);
}

/* Testimonials */
#testimonialCard
{
    display: flex;

    max-width: 500px;
    padding: 25px;

    justify-self: center;

    border-radius: 12px;
    background: var(--secondaryTrans);
}

.testimonialInfo
{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
}

#TestimonialAndButtons
{
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;

    align-items: center;
    justify-content: space-evenly;
}

#person-img
{
    width: 100px;
    height: 100px;

    margin-right: 50px;

    border-radius: 50%;
    z-index: 1;
}

/* FAQ */
#FAQandImage
{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.faq_header
{
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 12px;

    cursor: pointer;

    border-bottom: 2px solid var(--mainTwo);
    transition: background 0.15s;
}

.faq_header h2
{
    margin: 0;
}

.faq_answer
{
    width: 100%;
    margin-top: 15px;
    padding-bottom: 12px;

    border-bottom: 2px solid var(--mainTwo);
}

.button-container
{
    display: flex;
    justify-content: center;
}

/* Tablet + Phone */
@media screen and (max-width: 768px)
{
    .whitespaceImage
    {
        display: none;
    }

    #FAQandImage
    {
        display: flex;
    }

    #AboutMe_SkillsContainer
    {
        grid-template-columns: 1fr;
    }

    #aboutMeImg
    {
        max-width: 100px;
        max-height: 100px;
    }

    #skillsContainer
    {
        grid-template-columns: 1fr;
    }
}

/* Phone */
@media screen and (max-width: 479px)
{
    #heroContainer
    {
        display: none;
    }

    .skill
    {
        display: block;
    }

    #TestimonialAndButtons
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    #testimonialCard
    {
        order: 0;
        flex: 0 0 100%;
    }

    #testimonial_backButton,
    #testimonial_forwardButton
    {
        order: 1;
    }
}